.nf-title-row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nf-actions {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
}

@media (min-width: 640px) {
    .nf-actions {
        justify-content: flex-end;
    }
}
